/* .content {
  position: relative;
}

.marquee {
  position: absolute;
  right: -800px;
  left: 0;
  overflow: hidden;
  font-family: 'Pridi', sans-serif;
  font-weight: 600;
  font-size: 34px;
  text-transform: uppercase;
}

.marquee__inner {
  height: 100vh;
  display: flex;
  transform: rotate(16deg);
}

.marquee__line {
  background-color: #ffdc00;
  flex-shrink: 0;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% / 8);
  white-space: nowrap;
  animation-name: marqueeLine;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes marqueeLine {
  from {
    transform: translateX(-20%);
  }

  to {
    transform: translateX(-180%);
  }
} */

.covers-section {
  max-width: 375px;
  background-image: url('/img/covers/cover-mobile@1x.webp');
  background-color: var(--background);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  height: 960px;
}

@media screen and (min-resolution: 192dpi) and (max-width: 375px),
  screen and (min-resolution: 2dppx) and (max-width: 375px),
  screen and (min-device-pixel-ratio: 2) and (max-width: 375px) {
  .covers-section {
    background-image: url('/img/covers/cover-mobile@2x.webp');
  }
}

@media screen and (min-width: 768px) {
  .covers-section {
    max-width: 768px;
    background-image: url('/img/covers/cover-tablet@1x.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px),
  screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
  .section-about {
    background-image: url('/img/covers/cover-tablet@2x.webp');
  }
}

@media screen and (min-width: 1440px) {
  .covers-section {
    max-width: 1440px;
    background-image: url('/img/covers/cover-desktop@1x.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (min-resolution: 192dpi) and (max-width: 1440px),
  screen and (min-resolution: 2dppx) and (max-width: 1440px),
  screen and (min-device-pixel-ratio: 2) and (max-width: 1440px) {
  .covers-section {
    background-image: url('/img/covers/cover-desktop@2x.webp');
  }
}
