<section class="about-section" id="id-about">
  <div class="container about-container">
    <h2 class="visually-hidden">About me</h2>
    <div class="about-info-wrapper">
      <div class="about-text-wrapper">
        <p class="about-text">
          I work with people all over the world to create impressive and
          <span class="about-text-red">functional</span>
          <span class="about-text-grey">websites</span> that reflect each
          client's unique personality.
        </p>
      </div>
      <load src="./about-me-image.html" />
    </div>

    <ul class="about-acc-container accordion-container">
      <!-- create dynamic about me list -->
    </ul>

    <div class="about-swiper-container">
      <div class="about-skills-container swiper">
        <ul class="about-skills-list swiper-wrapper">
          <!-- create dynamic skills list     -->
        </ul>
      </div>
      <button class="about-arrow-btn-next">
        <svg class="about-arrow-icon" aria-label="Arrow icon">
          <use href="./img/icons/symbols.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
