<div class="color-picker-container">
  <div id="color-dropdown" class="color-dropdown">
    <div class="selected-color" style="background-color: var(--red)"></div>
    <div class="dropdown-content">
      <div
        class="color-option"
        style="background-color: var(--red)"
        data-color="red"
      ></div>
      <div
        class="color-option"
        style="background-color: var(--green)"
        data-color="green"
      ></div>
      <div
        class="color-option"
        style="background-color: var(--blue)"
        data-color="blue"
      ></div>
      <div
        class="color-option"
        style="background-color: var(--pink)"
        data-color="pink"
      ></div>
      <div
        class="color-option"
        style="background-color: var(--grey)"
        data-color="grey"
      ></div>
      <div
        class="color-option"
        style="background-color: var(--orange)"
        data-color="orange"
      ></div>
    </div>
  </div>
</div>
