<section class="projects-section">
  <div class="container projects-container">
    <h2 class="projects-title">Projects</h2>
    <dim class="projects-swiper-container swiper">
      <ul class="projects-list swiper-wrapper">
        <!-- <li class="projects-item">
        <div class="project-info-container">
          <ul class="project-lang-list">
            <li class="projects-lang-item">
              <span class="projects-lang-item-text">#react</span>
            </li>
            <li class="projects-lang-item">
              <span class="projects-lang-item-text">#js</span>
            </li>
            <li class="projects-lang-item">
              <span class="projects-lang-item-text">#node js</span>
            </li>
            <li class="projects-lang-item">
              <span class="projects-lang-item-text">#git</span>
            </li>
          </ul>
          <div class="project-description-wrapper">
            <p class="project-description">
              Programming Across Borders: Ideas, Technologies, Innovations
            </p>
            <a href="#" class="project-link js-project-link">See project</a>
          </div>
        </div>
        <div class="projects-img-wrapper">
          <picture>
            <source
              srcset="
                ./img/projects/project01@1x.webp 1x,
                ./img/projects/project01@2x.webp 2x
              "
              type="image/webp"
            />
            <img
              class="projects-img"
              src="./img/projects/project01@1x.webp"
              alt="Project 01 main page"
            />
          </picture>
        </div>
      </li> -->
      </ul>
    </dim>
    <dim class="custom-container-buttons projects-buttons">
      <button class="custom-btn-prev projects-btn-prev">
        <svg
          class="custom-icon-prev projects-icon-prev"
          aria-label="Arrow icon left"
        >
          <use href="/img/icons/symbols.svg#icon-arrow-left"></use>
        </svg>
      </button>
      <button class="custom-btn-next projects-btn-next">
        <svg
          class="custom-icon-next projects-icon-next"
          aria-label="Arrow icon right"
        >
          <use href="/img/icons/symbols.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </dim>
  </div>
</section>
