<section class="reviews-section">
  <h2 class="reviews-section-title">Reviews</h2>
  <div class="container reviews-container">
    <div class="reviews-list-container">
      <div class="reviews-swiper-container swiper">
        <ul class="reviews-list swiper-wrapper"></ul>
      </div>

      <button class="reviews-arrow-btn-next">
        <svg
          class="rewiews-arrow-icon"
          aria-label="Arrow icon"
          width="28"
          height="28"
        >
          <use href="/img/icons/symbols.svg#icon-arrow"></use>
        </svg>
      </button>
      <button class="reviews-arrow-btn-prev">
        <svg
          class="reviews-arrow-icon"
          aria-label="Arrow icon"
          width="28"
          height="28"
        >
          <use href="/img/icons/symbols.svg#icon-arrow"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
